# =========================
# Node / VS Code Extension
# =========================
node_modules/
out/
dist/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
.venv/
venv/
env/
myenv/

# =========================
# Environment variables / secrets
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db